*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(img/img.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
} 

